<ul class="" tab-headers"">
    {{#each Items}}
    <li id="{{{HeaderId}}}" data-content-id="{{{ContentId}}}" class="" tab-header"">
        {{{Title}}}
    </li>
    {{/each}}
</ul>
<div class="tab-contents">
    {{#each Items}}
    <div id="{{{ContentId}}}" class="" tab-content"" style="" display:none;"">
        {{{ContentComponent}}}
    </div>
    {{/each}}
</div>